# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here



# Database Configuration
MONGODB_URI=mongodb://localhost:27017/polymarketbot


POLYGON_RPC=https://polygon-rpc.com/

CLOB_HOST=https://clob.polymarket.com/

GNOSIS_SAFE_FACTORY=0xaacfeea03eb1561c4e67d661e40682bd20e3541b


CHAIN_ID=137


USDC=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
USDCE=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174


DOCS='https://learn.polymarket.com/'
WEBSITE='https://polymarket.com/'

BOT_URL='https://t.me/polymarket_kbot'
# BOT_URL='https://t.me/polymarket_test_bot'

# 测试
# REMOTE_URL='mongodb://localhost:27017/polymarket_bot'
# 正式
REMOTE_URL='mongodb://localhost:27017/polymarket_bot'
GAMMA_API_BASE_URL='https://gamma-api.polymarket.com'

IV='xxxxxxxxxxxxx'
SYMMETRICKEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'


ENV_DEV=0
